.popup-container {
  width: 500px;
  height: 550px;
  text-align: center;
}

.box {
  margin: 5px;
}

button {
  margin: 5px;
}


.hidden {
  display: none;
}

.gear-icon {
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: #325aa8;
  padding: 5px;
  border-radius: 5px;;
  text-decoration: none;
  color: white;
}

#priv {
  margin: 5px;
}
